.breadcrumb li{
    color: red;
}

.breadcrumb a{
    text-decoration: none;
    color: red;
}
.home-content {
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    width: 100%;
}

.custom-padding {
    padding: 10px 15px;
}

.float-left{
    float: left;
    clear:none;
}

.green-border {
    border-left: 2px solid green;
}

.assignment-right-icons {
    margin-left: auto;
    justify-content: center;
}


.header-bar{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-bottom: 5px;
}

.ellipsis {
    padding-left: 15px;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:grey;
}

.course-status{
    flex-shrink: 0;
    align-items: center;
    position: relative;
    margin-left: 15px;
}

