.container {

    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    display: flex;
/*How to make the sidebar black even when ovewflow*/
}

.container  .sidebar {
    box-sizing: border-box;
    float: left;
    height: 100%;
    width: 85px;
    background: black;
    color: white;
    text-align: center;
    flex-shrink: 0;
    flex-direction: column;

}

.sidebar .selected{
    background-color: white;
}

.sidebar a {
    display: block;
    margin: 5px;
    padding: 10px 5px 5px 5px;
    text-decoration: none;
    color: white;
}

.sidebar i {
    font-size: 24px;
    color: red;
    display: block;
}


.sidebar p {
    font-size: 14px;
}

.sidebar .account-image {
    color: white;
}

.selected  .account-image {
    color: grey;
}

.sidebar .selected p {
    color: red;
}

/*How to use 100% of width for wrapper
 and not letting it drop below the sidebar when shrinking page
 */
.content_page_wrapper{
    float:left;
    flex-shrink: 0;
    flex-direction: column;

}
