.sticky-links{
    display: flex;
    float: left;
    top: 0;
    width: 200px;
    max-height: 100vh;
    text-align: left;
    flex-shrink: 0;
    flex-direction: column;
    position: sticky;
    overflow: auto;
/*    How to make this shrinking with webpage*/
}
.sticky-links ul {
    list-style: none;
    margin: 20px;
    padding: 0;
}

.sticky-links li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sticky-links ul a{
    text-decoration: none;
    color: red;
    margin: 2px;
}
.sticky-links .selected li{
    border-left: solid;
    border-left-color: black;

}
.sticky-links .selected li a{
    color: black;

}