.breadcrumb-button{
    padding: 0;
    width: 36px;
    height: 30px;
    color: red;
}

.breadcrumb li{
    color: red;
}

.breadcrumb a{
    text-decoration: none;
    color: red;
}
.home-content {
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    width: 100%;
    flex-direction: row;
}


.slide-link {
    color: red;
}

.green-border {
    border-left: 2px solid green;
    text-align: left;
}


.header-bar{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-bottom: 5px;
}

.ellipsis {
    padding-left: 15px;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:grey;
}

.course-status{
    flex-shrink: 0;
    align-items: center;
    position: relative;
    margin-left: 15px;
}

.course-status button{
    text-align: left;
}

.coming-up a{
    text-decoration: none;
}

.coming-up i{
    color: grey;
}


.coming-up span{
    color: red;
}

.view-calendar{
    margin-left: 20px;
    text-decoration: none;
    color:red;
}

.view-calendar i{
color: grey;
}

.chevron-button{
    display: inline-block;
}

.hidden-kanbas{
    display: none;
    width: 100%;
    z-index: 10;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    color: red;
}

.hidden-kanbas  span{
    color:red;
}
.hidden-kanbas  a{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    gap: 10px;
    text-decoration: none;
}

.hidden-x-button{
    display: none;
}

.hidden-navigation{
    display: none;
    width: 100%;
    background-color: white;
    color: red;
}
.hidden-navigation ul{
    list-style: none;

}

.hidden-navigation  a{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    gap: 10px;
    text-decoration: none;
    color: red;
}
