.course-status{
    flex-shrink: 0;
    align-items: center;
    position: relative;
    margin-left: 15px;
}
.course-status button{
    text-align: left;
}
.coming-up a{
    text-decoration: none;
}

.coming-up i{
    color: grey;
}
.coming-up span{
    color: red;
}

.view-calendar{
    margin-left: 20px;
    text-decoration: none;
    color:red;
}

.view-calendar i{
    color: grey;
}
.ellipsis {
    padding-left: 15px;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:grey;
}